.container {
  max-width: 1200px;
  padding-left: 1em;
  padding-right: 1em;
  @media(min-width: $small-px) {
    padding-left: 2em;
    padding-right: 2em;
  }
  @media(min-width: $medium-px) {
    padding-left: 3em;
    padding-right: 3em;
  }
  @media (min-width: $large-px) {
    margin-left: auto;
    margin-right: auto;
  }
}

